.article{
    min-width: 300px;
    background: #FFF;
    border-radius: 16px;
    box-shadow: 10px 10px 50px #14141610;
    padding: 10px 30px;
    position: absolute;
    
    h1{
        font-size: 21px;
        line-height: 135%;
        letter-spacing: .2px;
        color: #1A202C;
    }
}

@media screen and (max-width: 1024px) {
    .article{
        min-width: 229.069px;

        h1{
            font-size: 13.179px;
            letter-spacing: 0.126px;
        }
    }
}

@media screen and (max-width: 600px) {
    .article{
        min-width: 153.994px;
        
        h1{
            font-size: 8.86px;
            letter-spacing: 0.084px;
        }
    }
}