.wrapper {
    display: flex;
    width: calc(100vw - 100px);
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1247px;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    background: #F9F9F9;
    flex: 1 1 auto;

  @media  (max-width: 375px) {
    width: calc(100vw - 25px);
  }
}

.banner {
  padding: 0;
  margin: 0;
  box-shadow: none;
  position: relative;
  z-index: 2;
      img {
      max-width: 100%;
        object-fit: cover;
  }

  @media (max-width: 700px) {
    position: absolute;
    top: 260px;
    left: 0;
      width: 100%;
    height: 269px;
      img {
       width: 100%;
        height: 269px;
        position: absolute;
        object-fit: none;
      }
  }
}

.avatar {
  left: 70px;
  top: 290px;
  position: absolute;
  background: url("../../../public/images/Ellipse 2041.png") center / cover no-repeat;
  width: 165px;
  height: 165px;
  z-index: 3;

  @media (max-width: 1250px) {
    height: 145px;
    width: 145px;
    left: 60px;
    top: 220px;
  }

  @media (max-width: 1024px) {
    height: 117px;
    width: 117px;
    left: 50px;
    top: 190px;
  }
  @media (max-width: 900px) {
    height: 105px;
    width: 105px;
    left: 40px;
    top: 140px;
  }
  @media (max-width: 900px) {
    height: 95px;
    width: 95px;
    left: 40px;
    top: 160px;
  }
  @media (max-width: 750px) {
    height: 90px;
    width: 90px;
    left: 30px;
    top: 120px;
  }
  @media (max-width: 700px) {
    height: 117px;
    width: 117px;
    left: 40px;
    top: 200px;
  }
}

.content {
  max-width: 1247px;
  display: grid;
  grid-template-columns: minmax(261px, 367px) minmax(300px, 673px) ;
  column-gap: 131px;
  align-content: end;
  justify-content: end;
  padding-left: 80px;

  @media (max-width: 1024px){
    //grid-template-rows: auto;
    //grid-template-columns: 261px 478px;
    column-gap: 93px;
    padding: 0;
  }

  @media (max-width: 700px){
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}

.left {
    display: flex;
    flex-direction: column;
    padding-top: 128px;
    flex: 1 1 auto;

  @media (max-width: 700px) {
    padding-top: 378px;

  }
}

.nickname {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: clamp(26px, 4vw, 35px);
  line-height: 45.5px;
  @media (max-width: 700px) {
    font-weight: 700;
  }
}

.btn {
  margin: 0;
  padding: 0;
  height: 46px;
  width: 121px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}

.tag {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: clamp(13px, 2vw, 18px);
  line-height: 23px;
  color: #93989A
}

.statistics {
  margin: 0;
  padding-top: 83px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  &:before {
    left: 0;
    top: 40px;
    content: '';
    position: absolute;
    background: #D0D0D0;
    width: 100%;
    height: 1px;
  }
}

.numbers {
  font-weight: 600;
  font-size: clamp(24px, 4vw, 32px);
  line-height: 40px;
}

.total {
  color: #848586;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}

.about {
  display: flex;
  flex-direction: column;
  padding-top: 120px;

  .title {
    color: #C5C5C5;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
  }

  .text {

   color:  #949494;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
  }
}

.socialNetworks {
  padding-top: 110px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;

  svg:not(:last-child) {
    padding-right: clamp(50px, 5vw, 66px);

  }
  &:before {
    left: 0;
    top: 85px;
    content: '';
    position: absolute;
    background: #D0D0D0;
    width: 100%;
    height: 1px;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  padding-top: 73px;


  .switch {
    display: flex;
    align-items: center;
    flex-direction: row;

  }

  .rightBtn, .leftBtn {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    line-height: 25px;
    position: relative;
    padding-left: 7px;
    border: none;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    letter-spacing: inherit;
    transition: color 0.2s linear;

    &:after {
      content: '';
      position: absolute;
      background: black;
      width:  335px;
      height: 3px;
      left: -140px;
      top: 50px;

      @media  (max-width: 1300px){
        width:  235px;
        left: -80px;
      }
      @media  (max-width: 900px){
        width:  190px;
        left: -65px;
      }
      @media  (max-width: 375px){
        width:  151px;
        left: -40px;
      }

    }
  }

  .rightSvg, .leftSvg {
    fill: black;
  }


  .disabledLeft, .disabledRight {
    fill: #D2D2D2;
    color: #D2D2D2;
    transition: fill 0.2s linear 0.2s;
  }

  .disabledBtn {
    font-weight: 700;
    font-size: 16px;
    color: #D2D2D2;
    line-height: 25px;
    position: relative;
    padding: 0;
    margin-left: 7px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    letter-spacing: inherit;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-self: end;
  flex: 1 1 auto;
}

.cards {
  padding-top: 85px;
}

.items {
  padding-top: 124px;


}