.changeBTNS{
    width: 165px;
    height: 70px;
    background: #F1F1F1;
    color: black;
    border-radius: 17.25px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    button{
        border: none;
        background: transparent;
        font-size: 20px;
    }
    
    .btnBreak{
        height: 25px;
        border: 1.4px solid #E6E8EC;
        border-radius: 2.16px;
    }
}