.footer{
  width: 100%;
  max-width: 1300px;
  background: #141416;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 0 105px;
  margin: 160px 0 0;

  &::after{
    content: '';
    position: absolute;
    width: 90%;
    max-width: 1300px;
    height: 1px;
    opacity: 0.25;
    background: #818181;
    margin-top: 100px;
  }

  .logo{
    flex: .6;
    display: flex;
    align-items: center;

    svg{
      margin-right: 10px;
      width: 46px;
      height: 46px;

      @media (max-width: 400px)  {
        width: 43px;
        height: 43px;
      }
    }

    h2{
      color: #FFF;
      font-size: 29.922px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
       @media (max-width: 1024px)  {
         font-size: 21px;
       }
      @media (max-width: 400px)  {
        font-size: 20px;
      }
    }
  }

  .sotialNetworks{
    flex: .2;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 1024px)  {
      flex: none;
      svg {
        margin: 0 7px;
      }
    }

    @media (max-width: 400px)  {
      svg {
        width: 60%;
        height: 60%;
          margin: 0 1px;
      }
    }
  }
}