

.footer{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: end;
  background: #141416;
  background-size: 100% 100%;
  height: auto;

  .wrapper {
    display: flex;
    align-items: center;
    width: calc(100vw - 100px);
    max-width: 1247px;
    justify-content: space-between;
    padding: 60px 15px 105px;
    margin:  0 0;
    flex: 1 1 auto;
    &::after{
      content: '';
      position: absolute;
      width: calc(100vw - 30px);
      max-width: 1247px;
      height: 1px;
      opacity: 0.25;
      background: #818181;
      margin-top: 100px;
    }
  }

  .logo{
    flex: .6;
    display: flex;
    align-items: center;

    svg{
      margin-right: 10px;
      width: 46px;
      height: 46px;

      @media (max-width: 400px)  {
        width: 43px;
        height: 43px;
      }
      @media (max-width: 300px)  {
        width: 35px;
        height: 35px;
        margin-right: 3px;
      }
    }

    h2{
      color: #FFF;
      font-size: 29.922px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
       @media (max-width: 1024px)  {
         font-size: 21px;
       }
      @media (max-width: 400px)  {
        font-size: 20px;
      }

    }
  }

  .sotialNetworks{
    flex: .2;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .icon {
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-2px);
      }
    }

    @media (max-width: 1024px)  {
      flex: none;
      svg {
        margin: 0 7px;
      }
    }

    @media (max-width: 400px)  {
      svg {
        width: 60%;
        height: 60%;
          margin: 0 1px;
      }
    }
    @media (max-width: 300px)  {
      svg {
        width: 55%;
        height: 55%;
        margin: 0 1px;
      }
    }
  }
}