.cardArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px 20px;

    .meetPhoto{
        width: 100%;
        height: 160px;
        border-radius: 17.76px 17.76px 0 0;
    }

    .cardContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #FFF;
        box-shadow: 10px 15px 80px #bfbfbf96 ;
        border-radius: 0 0 17.76px 17.76px ;
        padding: 21.8px;


        .header{
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            .avatar{
                width: 110px;
                height: 110px;
                border-radius: 50%;
                outline: 5px solid white;
                position: absolute;
                top: -100px;
            }

            p{
                display: flex;
                align-items: center;
                color: #000;
                font-size: 23.724px;
                font-style: normal;
                font-weight: 600;
                line-height: 33.609px;
                margin-top: 10px;

                svg{
                    margin-left: 10px;
                }
            }
        }

        .metrics{
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p{
                display: flex;
                flex-direction: column;
                align-items: start;

                .head{
                    display: flex;
                    align-items: center;
                    color: #141416;
                    text-align: center;
                    font-size: 17.793px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 25.701px;

                    svg{
                        margin-right: 5px;
                    }
                }
                span{
                    display: block;
                    color: #828282;
                    text-align: center;
                    font-size: 12.85px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 15.816px;
                    text-transform: capitalize;
                }
            }
        }

        .photoList{
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;

        
            &::after{
                content: '+10';
                position: absolute;
                right: 38px;
                color: #FFF;
                text-align: center;
                font-size: 19.862px;
                font-style: normal;
                font-weight: 600;
                line-height: 21.849px; /* 110% */
                letter-spacing: 0.199px;
            }

            .photoItem{
                width: 99.312px;
                height: 99.312px;
                border-radius: 9.931px;
                margin-right: 10px;
            }

            .lastPhoto{
                filter:brightness(0.45);
                margin-right: 0;
                position: relative;
            }
        }
    }

}

@media screen and (max-width: 1024px) {
    .cardArticle{
        .header{
            .avatar{
                width: 78.897px;
                height: 78.897px;
                flex-shrink: 0;
            }

            p{
                font-size: 16.872px;
                line-height: 23.902px;

                svg{
                    margin-left: 7px;
                }
            }
        }

        .metrics{
            p{
                .head{
                    font-size: 12.654px;
                    line-height: 18.278px;

                    svg{
                        margin-right: 5px;
                    }
                }
                span{
                    font-size: 9.139px;
                    line-height: 11.248px;
                }
            }
        }

        .photoList{
            &::after{
                right: 25px;
                font-size: 14.126px;
                font-weight: 700;
                line-height: 15.538px;
                letter-spacing: 0.141px;
            }

            .photoItem{
                width: 70.629px;
                height: 70.629px;
                border-radius: 7.063px;
            }
        }
    }
    
}

@media screen and (max-width: 600px) {
    .cardArticle{
    
        .cardContainer{ 
            .header{
                .avatar{
                    width: 92.669px;
                    height: 92.669px;
                    flex-shrink: 0;
                }
                p{
                    font-size: 19.817px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 28.074px;
    
                    svg{
                        margin-left: 5px;
                    }
                }
            }
    
            .metrics{
                p{
                    .head{
                        font-size: 14.863px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 21.469px;
    
                        svg{
                            margin-right: 5px;
                        }
                    }
                    span{
                        font-size: 10.734px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 13.211px;
                    }
                }
            }
    
            .photoList{
                &::after{
                    right: 28px;
                    font-size: 16.126px;
                    font-weight: 700;
                    line-height: 15.538px;
                    letter-spacing: 0.141px;
                }

                .photoItem{
                    width: 82.958px;
                    height: 82.958px;
                    border-radius: 8.296px;
                }
            }
        }
    
    }
}