.createAndSellArticle{
    width: 80%;
    max-width: 1250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    border-radius: 30px;
    background: #141416;
    margin-top: 100px;
    margin: 100px 91px 0;
    padding: 31px;
    
    .textPart{
        flex: .8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding-left: 66px ;
        
        h2{
            color: #FFF;
            font-size: 45px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%; 
            letter-spacing: 0.45px;
            margin: 0;
            padding: 0;
        };

        p{
            color: #D4D4D4;
            font-size: 20.265px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; 
            letter-spacing: 0.203px;
            opacity: 0.6;
        }

        .btns{
            display: flex;
            margin-top: 20px;

            .exploreBtn{
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 12.204px;
                font-size: 21.357px;
                font-style: normal;
                line-height: 130%;
                letter-spacing: 0.214px;
                font-weight: 600;
                background: #FFF;
                padding: 14px 25.93px;
                margin-right: 10px;
            }

            .sellBtn{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background: transparent;
                font-size: 21px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%;
                letter-spacing: 0.214px;
                border: 2.288px solid #FFF;
                border-radius: 12.204px;
                padding: 14px 25.93px;
            }
        }
    };

    .photo{
        width: 340px;
        height: 239px;
        flex-shrink: 0;
        border-radius: 7.554px;
        z-index: 1;
    };

    .blur{
        width: 330px;
        height: 220px;
        filter: blur(26.437305450439453px);
        position: absolute;
        right: 31px;
        bottom: -5px;
    }
}

@media screen and (max-width: 1024px) {
    .createAndSellArticle{
        .textPart{
            padding-left: 20px;

            h2{
                font-size: 32.003px;
                letter-spacing: 0.32px;
            };
    
            p{
                font-size: 14.412px;
                letter-spacing: 0.144px;
            }
    
            .btns{
                .exploreBtn{
                    font-size: 15.204px;
                    letter-spacing: 0.152px;
                    padding: 5px;
                }
    
                .sellBtn{
                    font-size: 15.204px;
                    letter-spacing: 0.152px;
                    padding: 10px;
                }
            }
        };
    
        .photo{
            width: 262.426px;
            height: 177.084px;
            border-radius: 11.232px;
        };
    
        .blur{
            width: 262.426px;
            height: 177.084px;
            border-radius: 11.232px;
        }
    }
}

@media screen and (max-width: 750px) {
    .createAndSellArticle{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 15px 0 50px 0;

        .textPart{
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 0;

            h2{
                font-size: 22.299px;
                letter-spacing: 0.223px;
            };
    
            p{
                font-size: 10.042px;
                letter-spacing: 0.1px;
            }
    
            .btns{
                width: 100%;
                display: flex;
                justify-content: center;

                .exploreBtn{
                    font-size: 15.204px;
                    letter-spacing: 0.152px;
                }
    
                .sellBtn{
                    font-size: 15.204px;
                    letter-spacing: 0.152px;
                }
            }
        };
    
        .photo{
            width: 80%;
            height: 177.084px;
            border-radius: 11.232px;
            position: absolute;
            bottom: -140px
        };
    
        .blur{
            width: 80%;
            height: 177.084px;
            border-radius: 11.232px;
            position: absolute;
            bottom: -130px;
        }
    }
}