.navigation{
    width: 90%;
    max-width: 1250px;
    display: flex;
    padding-top: 45px;
    align-items: center;
    justify-content: space-between;
    
    .burger{
        display: none;
    }
    .logo{
        display: flex;
        align-items: center;
        
        span{
            display: none;
            color: #000;
            font-size: 21.365px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            margin-left: 20px;
        }
    }

    ul{
        display: flex;
        align-items: center;
        flex: 1;

        li{
            list-style: none;
            font-size: 17.83px;
            line-height: 26.7px;
            stroke-opacity: 26.74px;
            margin: 0 25px;
        };
    }
}
.downMenu{
    display: none;
    font-display:flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in;
    
    li{
        list-style: none;
        margin: 5px 0;
    }
}
.navLink{
    text-decoration: none;
    color: #606060;
    font-weight: 500;
}
.active{
    font-size: 17.83px;
    line-height: 26.7px;
    color: #141416;
    text-decoration: none;
    font-weight: 500;
}

.label{
    display: flex;
    align-items: center;
    background: #EDEDED;

    padding: 8.62px 15px;
    border-radius: 14.88px;
    margin-right: 15px;
    
    svg{
        padding: 0 25px 0 0;
        cursor: pointer;
    };

    input{
        border: none;
        background: transparent;
        line-height: 117.5%;
        letter-spacing: -2%;
        font-size: 15.71px;

        &:focus{
            outline: none;
        };
        &::placeholder{
            color: #C2C3CB;
        }
    };
}

@media screen and (max-width: 1090px) {
    .label{
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .navigation{
        ul{
            li{
                margin: 0 auto;
            };
        }
    }
}

@media screen and (max-width: 620px) {
    .navigation{
        width: 80%;
        justify-content: space-between;

        .burger{
            display: block;
        }
        .logo{
            span{
                display: block;
            }
        }
        ul{
            display: none;
        }
    }
    .btn{
        display: none;
    }
    .downMenu{
        display: block;
    }
    .open{
        max-height: 120px !important;
    }
}