.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: #8C8C8C;
    margin-bottom: 16px;

  :not(:last-child) {
    margin-right: 18px;
  }

  @media  (max-width: 450px){
      svg {
        width: 16px;
        height: 16px;
      }
  }

  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #FFF;
    flex: 1 1 320px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 20px;
    position: relative;
    padding: 0;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    letter-spacing: inherit;
    transition: background 0.2s ease-in-out;

    @media  (max-width: 450px){
      font-size: 11px;
      font-weight: 400;
    }

    &:hover {
      background: #e0e0e0;
    }

    .arrow {
      padding: 0 5px 0 12px;

      @media  (max-width: 450px){

          width: 8px;
          height: 4px;

      }
    }

    .cart, .chain {
    margin-right: 10px;

    }
  }
}