.buttons{
    display: flex;
    align-items: stretch;
    margin-bottom: 100px;

    .button{
        display: flex;
        align-items: center;
        font-size: 15.47px;
        line-height: 150%;
        letter-spacing: .22px;
        color: #1A202C;
        font-style: normal;
        padding: 0;
        margin: 0;
        
        svg{
            margin-right: 5px;
        }
    }
    
    .margin{
        margin: 0 10px;
    }
}

@media screen and (max-width: 1024px) {
    .buttons{
        .button{            
            font-size: 11.204px;
            letter-spacing: 0.157px;
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 600px) {
    .buttons{
        .button{            
            font-size: 10.102px;
            letter-spacing: 0.18px;
        }
    }
}