.linear{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .emptyHeader{
        color: #93989A;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.14px;
    }

    .photo{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    .sender{
        display: flex;
        flex-direction: column;
        align-items: start;
        flex: .8;
        font-size: 15.36px;
        line-height: 140%;
        color: #141416;
        
        span{
            font-size: 12.48px;
            line-height: 150%;
            color: #64748B;
        }
    }

    .analytic{
        display: flex;
        flex-direction: column;
        align-items: end;
        
        p{
            display: flex;
            align-items: center;
            font-size: 15.36px;
            line-height: 140%;
            color: #141416;
            margin: 0;
            
            svg{
                margin-right: 7px;
            }
        }

        span{
            font-size: 13.44px;
            line-height: 150%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .linear{
        .photo{
            width: 34.719px;
            height: 34.719px;
            flex-shrink: 0;
            border-radius: 29.759px;
        }
    
        .sender{
                font-size: 9.642px;
                line-height: 140%;
            
            span{
                font-size: 7.834px;
                line-height: 150%; 
            }
        }
    
        .analytic{            
            p{
                font-size: 9.642px;
                line-height: 140%;

                svg{
                    margin-right: 5px;
                    width: 9.642px;
                }
            }
    
            span{
                font-size: 8.437px;
                line-height: 150%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .linear{   
        .photo{
            width: 23.301px;
            height: 23.301px;
            border-radius: 19.972px;
        }
    
        .sender{
            font-size: 8px;
            line-height: 140%;
            
            span{
                font-size: 7px;
                line-height: 150%; 
            }
        }
    
        .analytic{            
            p{
                font-size: 7px;
                line-height: 140%;

                svg{
                    width: 7px;
                    margin-right: 3px;
                }
            }
    
            span{
                font-size: 7px;
                line-height: 150%;
            }
        }
    }
}