.articleBestSellers{
    width: 50%;
    border-radius: 14.1px;
    background: #FFF;
    padding: 26px;
    margin-top: 30px;
    
    h2{
       color: #1A202C;
       font-size: 18.532px;
       font-style: normal;
       font-weight: 700;
       line-height: 135%; 
       letter-spacing: 0.176px;
       margin: 0;
    }

    ul{
       padding: 0;
       
        li{
           width: 100%;
        }
    }
}

@media screen and (max-width: 1024px) {
   .articleBestSellers{
      h2{
         font-size: 13.179px;
         letter-spacing: 0.126px;
      }
  }
}

@media screen and (max-width: 600px) {
   .articleBestSellers{
      padding: 15px;
      h2{
         font-size: 8.86px;
         letter-spacing: 0.084px;
      }
  }
}