.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;

    .header{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 124.5%; 
        margin-bottom: 20px;
    }

    .input{
        width: 95%;
        font-family:Arial, Helvetica, sans-serif;
        border-radius: 11.526px;
        background: #EFEFEF;
        padding: 23px 20px 22px 26px;
        color: #141416;
        font-size: 13.447px;
        font-style: normal;
        font-weight: 500;
        line-height: 124.5%;
        outline: none;
        border: none;
        
        &::placeholder{
            color: #9596A6;
            font-size: 13.447px;
            font-style: normal;
            font-weight: 400;
            line-height: 124.5%;
        }
    }
    .textArea{
        resize: none;
        min-height: 165px;   
    }
    .errorMessage{
        font-size: 9pt;
        color: red;
        margin-top: 5px;
    }
}

@media screen and (max-width: 1024px) {
    .form{
        .header{
            font-size: 14.224px;
            font-style: normal;
            font-weight: 500;
            line-height: 124.5%;
        }
        .input{
            font-size: 9.563px;
            font-style: normal;
            font-weight: 500;
            line-height: 124.5%;
            padding: 18px 11px 17px 21px;
            
            &::placeholder{
                font-size: 9.563px;
                font-style: normal;
                font-weight: 400;
                line-height: 124.5%;
            }
        }
    }
}